.container__menu-title {
  color: white;
}

.container__menu-title > h1 {
  margin-bottom: 15px;
  font-size: 12rem;
  font-family: 'Oswald', sans-serif;
  display: flex;
  justify-content: center;
}
